*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 100%;
    height: 100vh;
    background: #3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.row{
    width: 1000px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    font-size: 30px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
}